* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background-color: rgba(253, 254, 255, 0.867);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgba(245, 239, 231, 0.955);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    }
    .left {
    position: initial;
    background-color: rgb(242, 246, 246);
    padding: 20px;
    }
    .right {
    position: initial;
    background-color: rgb(199, 206, 207);
    padding: 20px;
    }
    .image, .Contact, .Skills, .Language, .Hobbies, .title,
    .Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
    }
    .h2 {
      background-color: rgb(253, 254, 255);
  }
  